@use 'cores';
@use 'mixins';

$fonte-principal: 'Arial', sans-serif;

h1 {
    color: cores.$cor-principal;
    font-family: $fonte-principal;
}

button {
    background: cores.$cor-principal;
    border: 2px solid cores.$cor-principal;
}

.container {
    @include mixins.centralizar;
    height: 200px;
    background: gray;
}

.exemplo-variaveis {
    .texto-primario {
        color: cores.$cor-principal;
    }

    .texto-secundario {
        font-family: $fonte-principal;
    }
}

nav {
    background: #333;
    ul {
        list-style: none;
        li {
            display: inline-block;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.botao-ativo {
    color: white;
    background: blue;

    &:hover {
        background: #3498db;
    }

    &.ativo {
        background: green;
    }
}

.container-mixin-simples {
    @include mixins.centralizar;
    height: 200px;
    background: gray;
}

.botao-com-parametro {
    @include mixins.borda-redonda(10px);
}

.card-com-parametro {
    @include mixins.borda-redonda(20px);
    background-color: gray;
}

.mensagem {
    padding: 10px;
    border: 1px solid #ccc;
    font-weight: bold;
}

.alerta {
    @extend .mensagem;
    background: red;
    color: white;
}

.sucesso {
    @extend .mensagem;
    background: green;
    color: white;
}